<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="andrezz.cajero" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".MenuCajero"
            android:label="@string/title_activity_menu_cajero" >
        </activity>
        <activity
            android:name=".RetiroCajero"
            android:label="@string/title_activity_retiro_cajero" >
        </activity>
        <activity
            android:name=".TransferenciaCajero"
            android:label="@string/title_activity_transferencia_cajero" >
        </activity>
        <activity
            android:name=".ConsultaCajero"
            android:label="@string/title_activity_consulta_cajero" >
        </activity>
    </application>

</manifest>
